*{
    padding:0;margin:0;
}

   .desktop{ background-color: rgba(18, 37, 28, 0.121);
    height:50px;
    width:100vw;
    position: sticky;
    top: 0;
    
   }

.desktop ul{
  
 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    
}
.desktop .account{
    color: orange;
}
   .desktop a{
    text-decoration: none;
    color: orange;
}
.container{
    height: 100vh;
    width: 100vw;
 background-image:url('https://wallpaperaccess.com/full/1567665.png');
    
}
.mobile{
    height:80vh;width:200px;
    background-color: rgb(8, 38, 40);
    
}
.heading{
    height:7vh;width: 200px;
    background-color: rgb(91, 240, 161);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    font-size: xx-large;
     text-decoration: underline;
}
.mobile ul{
    height: 73vh;
    color: white;
    list-style-type:none;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    text-decoration: underline;
     animation:transition 5s infinite;

}
@keyframes transition {

   
    to{color:white ;font-size: 7px;}

}

.mobile a{
    text-decoration: none;
    color: white;
    font-size:xx-large;
   
}
.mobile .account{
    color:white;
    border: 1px solid black;
}
@media(min-width:600px){
    .mobile{
     display:none;
    }
}
@media(max-width:600px){
    .desktop{
        display: none;
    }
}